<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header navbar-right">
      <a class="navbar-brand" href="#">
        <img alt="Brian Mann" src="...">
      </a>
    </div>
    <div class="navbar-header navbar-left">
      <a class="navbar-brand " href="https://www.linkedin.com/feed/?trk=">
        <img class="icon" alt="LinkedIn" src="../../assets/linkedin_icon.png">
      </a>
    </div>
    <div class="navbar-header navbar-left">
      <a class="navbar-brand" href="https://github.com/bmann505">
        <img class ="icon" alt="Github" src="../../assets/github_icon.svg">
      </a>
    </div>
    <div class="navbar-header navbar-left">
      <a class="navbar-brand" href="#">
        <img class="icon" alt="email" src="../../assets/email_icon.png">
      </a>
    </div>
  </div>
</nav>
